<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<contextName>TEST</contextName>
	<property name="logPath" value="logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %-5level [%X{LogID}] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="JeeSite" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logPath}/jeesite.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>jeesite.log.%d{yyyyMMdd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level [%X{LogID}] - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="LOGGER" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="JeeSite" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="JeeSite" />
	</root>
</configuration>
